* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    background-color: #e3e2e2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.cardContainer {
    background-color: transparent;
    width: 500px;
    height: 300px;
    perspective: 1000px; /* 3D Effect*/
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  
  transition: transform 0.8s;
  transform-style: preserve-3d;

  p {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-weight: bold;
  }
}

/* Do an horizontal flip when you move the mouse over the card container */
.cardContainer:hover .card {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
}

.front{
    background-color: #ffffff;
    color: #333333;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.front:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

    transition: box-shadow 0.4s;
}

.back {
    background-color: #60aa72;
    color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: rotateY(180deg);
}

button {
    margin-top: 64px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: #3f9d44;;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: #358539;
    }

    transition: background-color 0.3s;
}