/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e3e2e2;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#card {
    width: 500px;
    height: 300px;

    background-color: #f1f1f1;
    border-radius: 1rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    p {
        font-size: 1.3rem;
    }
}

.back {
    display: none;
}

.flipped .front {
    display: none;
}

.flipped .back {
    display: block;
}