* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    background-color: #e3e2e2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
}

.cardContainer {
    background-color: transparent;
    width: 90%;
    height: 200px;
    border-radius: 1rem;
    perspective: 1000px; /* 3D Effect*/
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  
  transition: transform 0.8s;
  transform-style: preserve-3d;
-webkit-tap-highlight-color: transparent;

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    gap: .5rem;
  }
}

/* Do an horizontal flip when you move the mouse over the card container */
/* .cardContainer:hover .card {
  transform: rotateY(180deg);
} */

.flipped {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
  border-radius: 1rem;

  padding: 1rem;
}

.front{
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.front:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

    transition: box-shadow 0.4s;
}

.back {
    background-color: #60aa72;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: rotateY(180deg);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #3f9d44;;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: transparent;

    &:hover {
        background-color: #358539;
    }

    transition: background-color 0.3s;
}

@media (min-width: 525px) {
    .cardContainer {
        width: 500px;
        height: 300px;
    }
    
    .card{
        ul{
            font-size: 1.5rem;
        }
    }

    button {
        margin-top: 1.5rem;
        font-size: 1.3rem;
    }
}

@media (orientation: landscape) and (max-height: 525px) {

    body{
        height: 100dvh;
        padding: 16px;
    }

    .cardContainer {
        width: 60%;
        height: 70%;
    }

    .card{
        ul{
            font-size: 20px;
        }
    }
    
    button{
        margin-top: 16px;
        font-size: 18px;   
    }
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.favorite {
    margin-top: 20px;
    color: green;
}